.cartSection {
  composes: import shoppingSection from '../ShoppingPage/ShoppingPage.module.css';
}
.storeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  composes: import title from '../HomePage/HomePage.module.css';
}

.subtitle {
  composes: import subtitle from '../HomePage/HomePage.module.css';
  text-align: center;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2em;
}

.row {
  display: flex;
  gap: 0.8em;
  align-items: center;
  border-bottom: 1px solid #c1df56;
  width: 100%;
  padding: .8em 1em;
}

.priceAndUnits{
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 1em;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.productTotal {
  font-weight: bold;
  color: #c1df56;
  font-size: 1.2rem;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  padding: 1em;
}

.checkoutBtn {
  background-color: #c1df56;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 3em;
  padding: 1em;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Comfortaa', serif;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  border: none;
}
.checkoutBtn:hover {
  transform: scale(0.9);
  background-color: #c50fc5;
  color: #ffffff;
}

.subtotalContainer{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
}

.subtotal {
  color: #c1df56;
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 10em;
}

.deleteButton{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.deleteButton:hover{
    transform: scale(1.4);
}
